name: CI

on:
  push: 
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
      runs-on: macos-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Select XCode
        run: sudo xcode-select -switch /Applications/Xcode_14.0.1.app
      - name: Build and test
        run: xcodebuild clean build test -project  Essential/Essential.xcodeproj -scheme "CI" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
      - name: Run tests
        run: swift test -v